@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap");

/* global */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: blueviolet;
}

.links {
  display: flex;
  justify-content: space-around;
}

.links .nav-bar .nav {
  display: inline-block;
  text-decoration: none;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 20px;
  color: aquamarine;
  font-family: Poppins, Courier, monospace;
}

.links .nav-bar .nav:hover {
  text-decoration: underline;
  color: rgb(18, 68, 68);
}

.links img {
  padding: 10px;
  background-color: antiquewhite;
  border: 3px solid #0bc;
  border-top-left-radius: 20%;
  border-bottom-right-radius: 30%;
  justify-self: flex-start;
}

.about-me {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.main-informations {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-informations h1,
h2 {
  text-align: center;
  font-size: 30px;
  font-family: Poppins, Courier, monospace;
}

.main-informations h1 {
  color: rgb(26, 26, 220);
}

.main-informations h1:first-child:hover,
h2:hover {
  text-decoration: underline;
}

.main-informations h2 {
  color: antiquewhite;
}

.main-informations p {
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  align-self: center;
  width: 300px;
}

.Qualifications {
  align-self: center;
}

.Qualifications h4 {
  color: chartreuse;
}

.Qualifications h4:hover {
  text-decoration: underline;
}

.Qualifications p:hover {
  color: chartreuse;
}

.languages {
  margin-left: 50px;
  float: left;
}

.frameworks {
  margin-left: 50px;
  float: left;
}

.skills {
  margin-left: 50px;
  float: left;
}

.contact {
  text-align: center;
}

.contact > a {
  display: inline-block;
  margin-top: 70px;
  margin-left: 5px;
}

.contact i {
  background-color: azure;
  border-radius: 5px;
}

.contact i:hover {
  background-color: rgb(132, 132, 218);
}

/* work style */

.work h1 {
  text-align: center;
  font-size: 30px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  word-spacing: 5px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

.work1 img {
  border-radius: 20%;
  margin-left: 30px;
  padding: 10px;
  background-color: black;
  cursor: pointer;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  transition: all 0.3s ease-in-out;
}

.work1 img:hover {
  transform: scaleX(1.1);
}

.work1 article {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  flex-direction: column;
}

.work1 article h2 {
  flex: 1;
}

.work1 article p:first-of-type {
  flex: 1;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: blue;
}

.work1 article ul {
  flex: 1;
  display: flex;
  list-style: none;
}

.work1 article ul li {
  margin-left: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.work1 article ul li:hover {
  text-decoration: underline;
}

.work1 article button {
  font-weight: bold;
  font-size: 15px;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  align-self: center;
  cursor: pointer;
}

.work1 article button:hover {
  background-color: crimson;
}

.reverse {
  margin-top: 20px;
  margin-bottom: 20px;
}

.reverse img:first-child {
  margin-right: -100px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.reverse article {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
