@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&family=Roboto&display=swap");

/* global */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(0deg, blue, rgb(14, 14, 181));
  max-width: 600px;
  margin: auto;
}

.links {
  display: flex;
  justify-content: space-around;
}

.links .nav-bar .hamburger {
  width: 35px;
  height: 5px;
  background-color: antiquewhite;
  margin: 6px 0;
}

.links .nav-bar .hamburger:hover {
  background-color: #9490ff;
}

.links .nav-bar .nav {
  display: none;
  text-decoration: none;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 20px;
  color: aquamarine;
  font-family: Poppins, Courier, monospace;
}

.links .nav-bar .nav:hover {
  text-decoration: underline;
  color: rgb(18, 68, 68);
}

.links img {
  padding: 10px;
  background-color: antiquewhite;
  border: 3px solid #0bc;
  border-top-left-radius: 20%;
  border-bottom-right-radius: 30%;
  justify-self: flex-start;
}

.about-me {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.main-informations {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-informations h1,
h2 {
  text-align: center;
  font-size: 30px;
  font-family: Poppins, Courier, monospace;
}

.main-informations h1 {
  color: #7d73fc;
}

.main-informations h1:first-child:hover,
h2:hover {
  text-decoration: underline;
}

.main-informations h2 {
  color: antiquewhite;
}

.main-informations p {
  color: #b3bac5;
  font-family: Roboto, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  align-self: center;
  width: 300px;
}

hr {
  border-top: 5px solid #646369;
  width: 300px;
}

.Qualifications {
  align-self: center;
}

.Qualifications h4 {
  color: #9490ff;
  font-weight: 500;
  line-height: 24px;
  font-family: Roboto, Verdana, sans-serif;
  font-size: 12px;
}

.Qualifications h4:hover {
  text-decoration: underline;
}

.languages {
  margin-left: 50px;
  float: left;
}

.languages p,
.frameworks p,
.skills p {
  font-weight: 400;
  line-height: 24px;
  font-family: Roboto, Verdana, sans-serif;
  font-size: 15px;
  color: #f5f5ff;
}

.Qualifications p:hover {
  color: chartreuse;
}

.frameworks {
  margin-left: 50px;
  float: left;
}

.skills {
  margin-left: 50px;
  margin-top: 100px;
}

.contact {
  text-align: center;
}

.contact > a {
  display: inline-block;
  margin-top: 70px;
  margin-left: 5px;
}

.contact i {
  background-color: azure;
  border-radius: 5px;
}

.contact i:hover {
  background-color: rgb(132, 132, 218);
}

/* work style */

.work {
  width: 500px;
  margin: auto;
}

.work .arrow {
  margin-top: 50px;
  color: #a2a3ae;
  text-align: center;
}

.arrow i:first-of-type,
.arrow h4:first-of-type {
  display: inline-block;
}

.arrow h4:first-of-type {
  font-weight: 500;
  line-height: 32px;
  font-family: Roboto, Verdana, sans-serif;
  font-size: 20px;
}

.work h1:first-of-type {
  text-align: center;
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  color: #9490ff;
  font-family: Roboto, Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  word-spacing: 5px;
  height: 124px;
  width: 360px;
  margin-top: 20px;
}

.work h2 {
  font-size: 20px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.work1 img {
  padding: 10px;
  cursor: pointer;
  grid-column-start: 1;
  grid-column-end: 2;
  justify-self: center;
  transition: all 0.3s ease-in-out;
}

.work1 img:hover {
  transform: scaleX(1.1);
}

.work1 article {
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  flex-direction: column;
}

.work1 article h2 {
  flex: 1;
  align-content: center;
  color: #fff;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  margin-left: -15px;
}

.work1 article p:first-of-type {
  flex: 1;
  flex-basis: 150px;
  text-align: center;
  font-weight: 400;
  line-height: 28px;
  font-size: 20px;
  font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
  color: #dcdce8;
}

.work1 article ul {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
}

.work1 article ul li {
  font-size: 15px;
  line-height: 20px;
  font-family: Inter, Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
  font-weight: 500;
}

.work1 article ul li:hover {
  text-decoration: underline;
}

.work1 article button {
  font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  align-self: flex-start;
  cursor: pointer;
  color: #edecff;
  background-color: #7d73fc;
}

.work1 article button:hover {
  background-color: crimson;
}

.reverse {
  margin-top: 20px;
  margin-bottom: 20px;
}

.reverse img:first-child {
  grid-column-start: 1;
  grid-column-end: 2;
}

.reverse article {
  grid-column-start: 1;
  grid-column-end: 2;
}
